@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700;900&display=swap');

.App {
    height: 100%;
}

.navBarContainer {
    width: auto;
    background-color: #4C1D95;
    text-align: center;
}

.headerContainer {
    background-color: #5B21B6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerContainer h1 {
    margin: 0;
    padding: 10px;
}

.headerContainer a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Unbounded";
    padding: 20px;
}

.author {
    display: flex;
    justify-content: center;
}

.author h2 {
    font-size: 17px;
    color: #808080;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(91, 33, 182);
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.Header a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #FFFFFF;
    padding: 20px 0;
    cursor: pointer;
}

.h2 {
    margin-top: 1px;
    background-color: rgb(76, 29, 149);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.h2 h2 {
    margin: 0;
    color: white;
}

.mainPageContent {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

/* @media (min-width: 1024px) {
    .mainPageContentContainerCard {
        margin: calc(1.25rem);;
        width: calc((33.3333% - 2.5rem) - 0.001rem);
    }
}

@media (min-width: 768px) {
    .mainPageContentContainerCard {
        margin: calc(0.9375rem);
        width: calc((50% - 1.875rem) - 0.001rem);
    }
}
    
@media (min-width: 500px) {
    .mainPageContentContainerCard {
        width: calc((50% - 1.25rem) - 0.001rem);
    }
} */